# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

node_modules
dist/bundle.js

# Latex files
docs/thesis/pl/*.aux
docs/thesis/pl/*.toc
docs/thesis/pl/*.xml
docs/thesis/pl/*.log
docs/thesis/pl/*.pdf
docs/thesis/pl/*.blg
docs/thesis/pl/*.bbl
